<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>With Chat</title>
  <link rel="stylesheet" href="/assets/css/index.css">
</head>
<body>
  <div id="container4">
    <p>방 만들기</p>
    <div id="makeRoomBox">
      <form action="/createRoom" method="get">
        <input id="makeTitle" name="roomName" type="text" placeholder="방 제목을 입력하세요"></input>
        <br>
        <button type="submit">방 만들기</button>
      </form>
    </div> 
  </div>
  
</body>
</html>