<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>With Chat</title>
  <link rel="stylesheet" href="/assets/css/index.css">
</head>
<body>
  <div id="container2">
    <p id="loginTitle"><span th:text=${nickname}></span>님 반갑습니다.</p>
    <button id="makeChat">채팅방 만들기</button>
    <div id="chatRoomList">
      <div class="roomName title">채팅방</div>
      <div class="roomId title">닉네임</div>
      <th:block th:each="list : ${list}">
        <div class="roomName content"><span th:text=${list.roomname}></span><button class="joinBtn">참가</button></div>
        <div class="roomId content" th:text=${list.id}></div>
      </th:block>
    </div>
  </div>
</body>
</html>